<app-menu></app-menu>
<h5>Product Edit</h5>

<table class="table table-striped" *ngIf="product">
<tbody>
    <tr>
        <td>Id</td>
        <input disabled [(ngModel)]="product.id">
    </tr>
    <tr>
        <td>Name</td>
        <input [(ngModel)]="product.name">
    </tr>
    <tr>
        <td>Part Number</td>
        <input [(ngModel)]="product.partNbr">
    </tr>
    <tr>
        <td>Price</td>
        <input [(ngModel)]="product.price">
    </tr>
    <tr>
        <td>Unit</td>
        <input [(ngModel)]="product.unit">
    </tr>
    <tr>
        <td>Photo Path</td>
        <input [(ngModel)]="product.photoPath">
    </tr>
    <tr>
        <td>Vendor</td>
        <td>
            <select [(ngModel)]="product.vendorId" name="vendorId">
                <option *ngFor="let v of vendors" value="{{ v.id }}">
                    {{ v.name }}
                </option>
            </select>
        </td>
    </tr>
</tbody>
</table>
<div>
    <button (click)="save()" class="btn btn-primary">Save</button> |
    <button (click)="list()" class="btn btn-primary">List</button>
</div>